<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <base data-ice="baseUrl" href="../../../../../../">
  <title data-ice="title">PsyanimAdvancedArriveAgent | psyanim2</title>
  <link type="text/css" rel="stylesheet" href="css/style.css">
  <link type="text/css" rel="stylesheet" href="css/prettify-tomorrow.css">
  <script src="script/prettify/prettify.js"></script>
  <script src="script/manual.js"></script>
</head>
<body class="layout-container" data-ice="rootContainer">

<header>
  <a href="./">Home</a>
  
  <a href="identifiers.html">Reference</a>
  <a href="source.html">Source</a>
  
  <div class="search-box">
  <span>
    <img src="./image/search.png">
    <span class="search-input-edge"></span><input class="search-input"><span class="search-input-edge"></span>
  </span>
    <ul class="search-result"></ul>
  </div>
</header>

<nav class="navigation" data-ice="nav"><div>
  <ul>
    
  <li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#core">core</a><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/PsyanimApp.js~PsyanimApp.html">PsyanimApp</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/PsyanimComponent.js~PsyanimComponent.html">PsyanimComponent</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/PsyanimConfig.js~PsyanimConfig.html">PsyanimConfig</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/PsyanimConstants.js~PsyanimConstants.html">PsyanimConstants</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/PsyanimDataDrivenScene.js~PsyanimDataDrivenScene.html">PsyanimDataDrivenScene</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/PsyanimEntity.js~PsyanimEntity.html">PsyanimEntity</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/PsyanimEntityPrefab.js~PsyanimEntityPrefab.html">PsyanimEntityPrefab</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/PsyanimScene.js~PsyanimScene.html">PsyanimScene</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#core-components-ai">core/components/ai</a><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/ai/PsyanimBasicHFSM.js~PsyanimBasicHFSM.html">PsyanimBasicHFSM</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/ai/PsyanimBasicHFSMInterrupt.js~PsyanimBasicHFSMInterrupt.html">PsyanimBasicHFSMInterrupt</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/ai/PsyanimFSM.js~PsyanimFSM.html">PsyanimFSM</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/ai/PsyanimFSMState.js~PsyanimFSMState.html">PsyanimFSMState</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/ai/PsyanimFSMStateTransition.js~PsyanimFSMStateTransition.html">PsyanimFSMStateTransition</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#core-components-ai-behavior-trees">core/components/ai/behavior_trees</a><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/ai/behavior_trees/PsyanimBehaviorTree.js~PsyanimBehaviorTree.html">PsyanimBehaviorTree</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/ai/behavior_trees/PsyanimBehaviorTreeAgent.js~PsyanimBehaviorTreeAgent.html">PsyanimBehaviorTreeAgent</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/ai/behavior_trees/PsyanimBehaviorTreeDebugger.js~PsyanimBehaviorTreeDebugger.html">PsyanimBehaviorTreeDebugger</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/ai/behavior_trees/PsyanimBehaviorTreeDecoratorNode.js~PsyanimBehaviorTreeDecoratorNode.html">PsyanimBehaviorTreeDecoratorNode</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/ai/behavior_trees/PsyanimBehaviorTreeInverterNode.js~PsyanimBehaviorTreeInverterNode.html">PsyanimBehaviorTreeInverterNode</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/ai/behavior_trees/PsyanimBehaviorTreeLeafNode.js~PsyanimBehaviorTreeLeafNode.html">PsyanimBehaviorTreeLeafNode</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/ai/behavior_trees/PsyanimBehaviorTreeLoader.js~PsyanimBehaviorTreeLoader.html">PsyanimBehaviorTreeLoader</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/ai/behavior_trees/PsyanimBehaviorTreeNode.js~PsyanimBehaviorTreeNode.html">PsyanimBehaviorTreeNode</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/ai/behavior_trees/PsyanimBehaviorTreeSelectorNode.js~PsyanimBehaviorTreeSelectorNode.html">PsyanimBehaviorTreeSelectorNode</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/ai/behavior_trees/PsyanimBehaviorTreeSequenceNode.js~PsyanimBehaviorTreeSequenceNode.html">PsyanimBehaviorTreeSequenceNode</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#core-components-ai-playfight">core/components/ai/playfight</a><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/ai/playfight/PsyanimPlayfightChargeDelayState.js~PsyanimPlayfightChargeDelayState.html">PsyanimPlayfightChargeDelayState</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/ai/playfight/PsyanimPlayfightChargeState.js~PsyanimPlayfightChargeState.html">PsyanimPlayfightChargeState</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/ai/playfight/PsyanimPlayfightFSM.js~PsyanimPlayfightFSM.html">PsyanimPlayfightFSM</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/ai/playfight/PsyanimPlayfightFleeState.js~PsyanimPlayfightFleeState.html">PsyanimPlayfightFleeState</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/ai/playfight/PsyanimPlayfightHFSM.js~PsyanimPlayfightHFSM.html">PsyanimPlayfightHFSM</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/ai/playfight/PsyanimPlayfightSeparationFSM.js~PsyanimPlayfightSeparationFSM.html">PsyanimPlayfightSeparationFSM</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/ai/playfight/PsyanimPlayfightSeparationState.js~PsyanimPlayfightSeparationState.html">PsyanimPlayfightSeparationState</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/ai/playfight/PsyanimPlayfightWanderState.js~PsyanimPlayfightWanderState.html">PsyanimPlayfightWanderState</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#core-components-ai-predatorprey">core/components/ai/predatorprey</a><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/ai/predatorprey/PsyanimPredatorChargeState.js~PsyanimPredatorChargeState.html">PsyanimPredatorChargeState</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/ai/predatorprey/PsyanimPredatorFSM.js~PsyanimPredatorFSM.html">PsyanimPredatorFSM</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/ai/predatorprey/PsyanimPredatorWanderState.js~PsyanimPredatorWanderState.html">PsyanimPredatorWanderState</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/ai/predatorprey/PsyanimPreyFSM.js~PsyanimPreyFSM.html">PsyanimPreyFSM</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/ai/predatorprey/PsyanimPreyFleeState.js~PsyanimPreyFleeState.html">PsyanimPreyFleeState</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/ai/predatorprey/PsyanimPreyWallAvoidanceState.js~PsyanimPreyWallAvoidanceState.html">PsyanimPreyWallAvoidanceState</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/ai/predatorprey/PsyanimPreyWanderState.js~PsyanimPreyWanderState.html">PsyanimPreyWanderState</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#core-components-animation">core/components/animation</a><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/animation/PsyanimMimic.js~PsyanimMimic.html">PsyanimMimic</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#core-components-controllers">core/components/controllers</a><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/controllers/PsyanimClickToMove.js~PsyanimClickToMove.html">PsyanimClickToMove</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/controllers/PsyanimClickToMoveBasic.js~PsyanimClickToMoveBasic.html">PsyanimClickToMoveBasic</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/controllers/PsyanimMouseFollowTarget.js~PsyanimMouseFollowTarget.html">PsyanimMouseFollowTarget</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/controllers/PsyanimPhysicsSettingsController.js~PsyanimPhysicsSettingsController.html">PsyanimPhysicsSettingsController</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/controllers/PsyanimPlayerController.js~PsyanimPlayerController.html">PsyanimPlayerController</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/controllers/PsyanimSceneController.js~PsyanimSceneChangeController.html">PsyanimSceneChangeController</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#core-components-networking">core/components/networking</a><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/networking/PsyanimClientNetworkManager.js~PsyanimClientNetworkManager.html">PsyanimClientNetworkManager</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#core-components-pathfinding">core/components/pathfinding</a><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/pathfinding/PsyanimPathfindingAgent.js~PsyanimPathfindingAgent.html">PsyanimPathfindingAgent</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#core-components-physics">core/components/physics</a><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/physics/PsyanimFOVSensor.js~PsyanimFOVSensor.html">PsyanimFOVSensor</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/physics/PsyanimMultiRaySensor.js~PsyanimMultiRaySensor.html">PsyanimMultiRaySensor</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/physics/PsyanimSensor.js~PsyanimSensor.html">PsyanimSensor</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#core-components-rendering">core/components/rendering</a><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/rendering/PsyanimCircleRenderer.js~PsyanimCircleRenderer.html">PsyanimCircleRenderer</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/rendering/PsyanimCollisionAvoidanceDebug.js~PsyanimCollisionAvoidanceDebug.html">PsyanimCollisionAvoidanceDebug</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/rendering/PsyanimFOVRenderer.js~PsyanimFOVRenderer.html">PsyanimFOVRenderer</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/rendering/PsyanimLineRenderer.js~PsyanimLineRenderer.html">PsyanimLineRenderer</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/rendering/PsyanimMultiRaySensorRenderer.js~PsyanimMultiRaySensorRenderer.html">PsyanimMultiRaySensorRenderer</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/rendering/PsyanimPathfindingRenderer.js~PsyanimPathfindingRenderer.html">PsyanimPathfindingRenderer</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/rendering/PsyanimWanderDebug.js~PsyanimWanderDebug.html">PsyanimWanderDebug</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#core-components-steering">core/components/steering</a><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/steering/PsyanimAdvancedArriveBehavior.js~PsyanimAdvancedArriveBehavior.html">PsyanimAdvancedArriveBehavior</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/steering/PsyanimAdvancedFleeBehavior.js~PsyanimAdvancedFleeBehavior.html">PsyanimAdvancedFleeBehavior</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/steering/PsyanimAdvancedPlayfightBehavior.js~PsyanimAdvancedPlayfightBehavior.html">PsyanimAdvancedPlayfightBehavior</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/steering/PsyanimArriveBehavior.js~PsyanimArriveBehavior.html">PsyanimArriveBehavior</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/steering/PsyanimBasicPredatorBehavior.js~PsyanimBasicPredatorBehavior.html">PsyanimBasicPredatorBehavior</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/steering/PsyanimBasicPreyBehavior.js~PsyanimBasicPreyBehavior.html">PsyanimBasicPreyBehavior</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/steering/PsyanimChargeBehavior.js~PsyanimChargeBehavior.html">PsyanimChargeBehavior</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/steering/PsyanimCollisionAvoidanceBehavior.js~PsyanimCollisionAvoidanceBehavior.html">PsyanimCollisionAvoidanceBehavior</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/steering/PsyanimEvadeBehavior.js~PsyanimEvadeBehavior.html">PsyanimEvadeBehavior</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/steering/PsyanimFleeBehavior.js~PsyanimFleeBehavior.html">PsyanimFleeBehavior</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/steering/PsyanimObstacleAvoidanceBehavior.js~PsyanimObstacleAvoidanceBehavior.html">PsyanimObstacleAvoidanceBehavior</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/steering/PsyanimPlayfightBehavior.js~PsyanimPlayfightBehavior.html">PsyanimPlayfightBehavior</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/steering/PsyanimPreciselyTimedArriveBehavior.js~PsyanimPreciselyTimedArriveBehavior.html">PsyanimPreciselyTimedArriveBehavior</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/steering/PsyanimSeekBehavior.js~PsyanimSeekBehavior.html">PsyanimSeekBehavior</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/steering/PsyanimVehicle.js~PsyanimVehicle.html">PsyanimVehicle</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/steering/PsyanimWanderBehavior.js~PsyanimWanderBehavior.html">PsyanimWanderBehavior</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#core-components-steering-agents">core/components/steering/agents</a><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/steering/agents/PsyanimAdvancedArriveAgent.js~PsyanimAdvancedArriveAgent.html">PsyanimAdvancedArriveAgent</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/steering/agents/PsyanimAdvancedFleeAgent.js~PsyanimAdvancedFleeAgent.html">PsyanimAdvancedFleeAgent</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/steering/agents/PsyanimAdvancedPlayfightAgent.js~PsyanimAdvancedPlayfightAgent.html">PsyanimAdvancedPlayfightAgent</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/steering/agents/PsyanimArriveAgent.js~PsyanimArriveAgent.html">PsyanimArriveAgent</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/steering/agents/PsyanimChargeAgent.js~PsyanimChargeAgent.html">PsyanimChargeAgent</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/steering/agents/PsyanimEvadeAgent.js~PsyanimEvadeAgent.html">PsyanimEvadeAgent</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/steering/agents/PsyanimFleeAgent.js~PsyanimFleeAgent.html">PsyanimFleeAgent</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/steering/agents/PsyanimPathFollowingAgent.js~PsyanimPathFollowingAgent.html">PsyanimPathFollowingAgent</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/steering/agents/PsyanimPlayfightAgent.js~PsyanimPlayfightAgent.html">PsyanimPlayfightAgent</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/steering/agents/PsyanimPreciselyTimedArriveAgent.js~PsyanimPreciselyTimedArriveAgent.html">PsyanimPreciselyTimedArriveAgent</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/steering/agents/PsyanimPredatorAgent.js~PsyanimPredatorAgent.html">PsyanimPredatorAgent</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/steering/agents/PsyanimPreyAgent.js~PsyanimPredatorAgent.html">PsyanimPredatorAgent</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/steering/agents/PsyanimSeekAgent.js~PsyanimSeekAgent.html">PsyanimSeekAgent</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/steering/agents/PsyanimWanderAgent.js~PsyanimWanderAgent.html">PsyanimWanderAgent</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#core-components-ui">core/components/ui</a><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/ui/PsyanimExperimentControls.js~PsyanimExperimentControls.html">PsyanimExperimentControls</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/ui/PsyanimSceneTitle.js~PsyanimSceneTitle.html">PsyanimSceneTitle</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#core-components-utils">core/components/utils</a><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/utils/PsyanimAnimationBaker.js~PsyanimAnimationBaker.html">PsyanimAnimationBaker</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/utils/PsyanimAnimationPlayer.js~PsyanimAnimationPlayer.html">PsyanimAnimationPlayer</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/utils/PsyanimExperimentTimer.js~PsyanimExperimentTimer.html">PsyanimExperimentTimer</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/utils/PsyanimFSMStateRecorder.js~PsyanimFSMStateRecorder.html">PsyanimFSMStateRecorder</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/components/utils/PsyanimVideoRecorder.js~PsyanimVideoRecorder.html">PsyanimVideoRecorder</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#core-prefabs">core/prefabs</a><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/prefabs/PsyanimAdvancedFleeAgentPrefab.js~PsyanimAdvancedFleeAgentPrefab.html">PsyanimAdvancedFleeAgentPrefab</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/prefabs/PsyanimAdvancedPlayfightAgentPrefab.js~PsyanimAdvancedPlayfightAgentPrefab.html">PsyanimAdvancedPlayfightAgentPrefab</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/prefabs/PsyanimArriveAgentPrefab.js~PsyanimArriveAgentPrefab.html">PsyanimArriveAgentPrefab</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/prefabs/PsyanimClickToMovePlayerPrefab.js~PsyanimClickToMovePlayerPrefab.html">PsyanimClickToMovePlayerPrefab</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/prefabs/PsyanimEvadeAgentPrefab.js~PsyanimEvadeAgentPrefab.html">PsyanimEvadeAgentPrefab</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/prefabs/PsyanimFleeAgentPrefab.js~PsyanimFleeAgentPrefab.html">PsyanimFleeAgentPrefab</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/prefabs/PsyanimPlayfightAgentPrefab.js~PsyanimPlayfightAgentPrefab.html">PsyanimPlayfightAgentPrefab</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/prefabs/PsyanimPreciselyTimedArriveAgentPrefab.js~PsyanimPreciselyTimedArriveAgentPrefab.html">PsyanimPreciselyTimedArriveAgentPrefab</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/prefabs/PsyanimPredatorPrefab.js~PsyanimPredatorPrefab.html">PsyanimPredatorPrefab</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/prefabs/PsyanimPreyPrefab.js~PsyanimPreyPrefab.html">PsyanimPreyPrefab</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/prefabs/PsyanimSeekAgentPrefab.js~PsyanimSeekAgentPrefab.html">PsyanimSeekAgentPrefab</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/prefabs/PsyanimWanderAgentPrefab.js~PsyanimWanderAgentPrefab.html">PsyanimWanderAgentPrefab</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#core-utils">core/utils</a><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/utils/PsyanimGeomUtils.js~PsyanimGeomUtils.html">PsyanimGeomUtils</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/utils/PsyanimNavigationGrid.js~PsyanimNavigationGrid.html">PsyanimNavigationGrid</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/utils/PsyanimPath.js~PsyanimPath.html">PsyanimPath</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/core/utils/PsyanimScreenBoundary.js~PsyanimScreenBoundary.html">PsyanimScreenBoundary</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#integrations">integrations</a><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/integrations/PsyanimFirebaseBrowserClient.js~PsyanimFirebaseBrowserClient.html">PsyanimFirebaseBrowserClient</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/integrations/PsyanimJsPsychDataWriterExtension.js~PsyanimJsPsychDataWriterExtension.html">PsyanimJsPsychDataWriterExtension</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/integrations/PsyanimJsPsychExperimentPlaybackManager.js~PsyanimJsPsychExperimentPlaybackManager.html">PsyanimJsPsychExperimentPlaybackManager</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/integrations/PsyanimJsPsychExperimentPlayer.js~PsyanimJsPsychExperimentPlayer.html">PsyanimJsPsychExperimentPlayer</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/integrations/PsyanimJsPsychPlayerContactListener.js~PsyanimJsPsychPlayerContactListener.html">PsyanimJsPsychPlayerContactListener</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/integrations/PsyanimJsPsychPlugin.js~PsyanimJsPsychPlugin.html">PsyanimJsPsychPlugin</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/integrations/PsyanimJsPsychTrial.js~PsyanimJsPsychTrial.html">PsyanimJsPsychTrial</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/integrations/PsyanimJsPsychTrialLoader.js~PsyanimJsPsychTrialLoader.html">PsyanimJsPsychTrialLoader</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/integrations/PsyanimJsPsychTrialParameter.js~PsyanimJsPsychTrialParameter.html">PsyanimJsPsychTrialParameter</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/integrations/PsyanimJsPsychTrialSelector.js~PsyanimJsPsychTrialSelector.html">PsyanimJsPsychTrialSelector</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#thirdparty">thirdparty</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-matterRaycast2">matterRaycast2</a></span></span></li>
</ul>
</div>
</nav>

<div class="content" data-ice="content"><div class="header-notice">
  <div data-ice="importPath" class="import-path"><pre class="prettyprint"><code data-ice="importPathCode">import PsyanimAdvancedArriveAgent from &apos;<span><a href="file/src/core/components/steering/agents/PsyanimAdvancedArriveAgent.js.html#lineNumber3">psyanim2/src/core/components/steering/agents/PsyanimAdvancedArriveAgent.js</a></span>&apos;</code></pre></div>
  <span data-ice="access">public</span>
  <span data-ice="kind">class</span>
  
  
  
  <span data-ice="source">| <span><a href="file/src/core/components/steering/agents/PsyanimAdvancedArriveAgent.js.html#lineNumber3">source</a></span></span>
</div>

<div class="self-detail detail">
  <h1 data-ice="name">PsyanimAdvancedArriveAgent</h1>

  

  
  
  <div class="flat-list" data-ice="extendsChain"><h4>Extends:</h4><div><span><a href="class/src/core/PsyanimComponent.js~PsyanimComponent.html">PsyanimComponent</a></span> &#x2192; PsyanimAdvancedArriveAgent</div></div>
  
  
  
  
  
  

  
  
  
  

  

  

  

  
</div>



<div data-ice="constructorSummary"><h2>Constructor Summary</h2><table class="summary" data-ice="summary">
  <thead><tr><td data-ice="title" colspan="3">Public Constructor</td></tr></thead>
  <tbody>
  
  <tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
          
          
          
          <span class="code" data-ice="name"><span><a href="class/src/core/components/steering/agents/PsyanimAdvancedArriveAgent.js~PsyanimAdvancedArriveAgent.html#instance-constructor-constructor">constructor</a></span></span><span class="code" data-ice="signature">()</span>
        </p>
      </div>
      <div>
        
        
        
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
</tbody>
</table>
</div>
<div data-ice="memberSummary"><h2>Member Summary</h2><table class="summary" data-ice="summary">
  <thead><tr><td data-ice="title" colspan="3">Public Members</td></tr></thead>
  <tbody>
  
  <tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
          
          
          
          <span class="code" data-ice="name"><span><a href="class/src/core/components/steering/agents/PsyanimAdvancedArriveAgent.js~PsyanimAdvancedArriveAgent.html#instance-member-advancedArriveBehavior">advancedArriveBehavior</a></span></span><span class="code" data-ice="signature">: <span>*</span></span>
        </p>
      </div>
      <div>
        
        
        
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
<tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
          
          
          
          <span class="code" data-ice="name"><span><a href="class/src/core/components/steering/agents/PsyanimAdvancedArriveAgent.js~PsyanimAdvancedArriveAgent.html#instance-member-target">target</a></span></span><span class="code" data-ice="signature">: <span>*</span></span>
        </p>
      </div>
      <div>
        
        
        
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
<tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
          
          
          
          <span class="code" data-ice="name"><span><a href="class/src/core/components/steering/agents/PsyanimAdvancedArriveAgent.js~PsyanimAdvancedArriveAgent.html#instance-member-vehicle">vehicle</a></span></span><span class="code" data-ice="signature">: <span>*</span></span>
        </p>
      </div>
      <div>
        
        
        
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
</tbody>
</table>
</div>
<div data-ice="methodSummary"><h2>Method Summary</h2><table class="summary" data-ice="summary">
  <thead><tr><td data-ice="title" colspan="3">Public Methods</td></tr></thead>
  <tbody>
  
  <tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
          
          
          
          <span class="code" data-ice="name"><span><a href="class/src/core/components/steering/agents/PsyanimAdvancedArriveAgent.js~PsyanimAdvancedArriveAgent.html#instance-method-update">update</a></span></span><span class="code" data-ice="signature">(t: <span>*</span>, dt: <span>*</span>)</span>
        </p>
      </div>
      <div>
        
        
        
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
</tbody>
</table>
</div>

<div class="inherited-summary" data-ice="inheritedSummary"><h2>Inherited Summary</h2><table class="summary" data-ice="summary">
  <thead><tr><td data-ice="title" colspan="3"><span class="toggle closed"></span> From class <span><a href="class/src/core/PsyanimComponent.js~PsyanimComponent.html">PsyanimComponent</a></span></td></tr></thead>
  <tbody>
  
  <tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      <span class="kind" data-ice="kind">get</span>
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
          
          
          
          <span class="code" data-ice="name"><span><a href="class/src/core/PsyanimComponent.js~PsyanimComponent.html#instance-get-enabled">enabled</a></span></span><span class="code" data-ice="signature">: <span><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Boolean">boolean</a></span>: <span>*</span></span>
        </p>
      </div>
      <div>
        
        
        <div data-ice="description"><p>This component&apos;s update() method only runs when it is enabled.</p>
</div>
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
<tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      <span class="kind" data-ice="kind">set</span>
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
          
          
          
          <span class="code" data-ice="name"><span><a href="class/src/core/PsyanimComponent.js~PsyanimComponent.html#instance-set-enabled">enabled</a></span></span><span class="code" data-ice="signature">(-: <span><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Boolean">boolean</a></span>)</span>
        </p>
      </div>
      <div>
        
        
        <div data-ice="description"><p>Sets whether or not this component is enabled.</p>
</div>
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
<tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      <span class="kind" data-ice="kind">get</span>
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
          
          
          
          <span class="code" data-ice="name"><span><a href="class/src/core/PsyanimComponent.js~PsyanimComponent.html#instance-get-id">id</a></span></span><span class="code" data-ice="signature">: <span>*</span></span>
        </p>
      </div>
      <div>
        
        
        
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
<tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      <span class="kind" data-ice="kind">set</span>
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
          
          
          
          <span class="code" data-ice="name"><span><a href="class/src/core/PsyanimComponent.js~PsyanimComponent.html#instance-set-id">id</a></span></span>
        </p>
      </div>
      <div>
        
        
        
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
<tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
          
          
          
          <span class="code" data-ice="name"><span><a href="class/src/core/PsyanimComponent.js~PsyanimComponent.html#instance-member-entity">entity</a></span></span><span class="code" data-ice="signature">: <span><a href="class/src/core/PsyanimEntity.js~PsyanimEntity.html">PsyanimEntity</a></span></span>
        </p>
      </div>
      <div>
        
        
        <div data-ice="description"><p>The entity to which this component is attached.</p>
</div>
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
<tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
          
          
          
          <span class="code" data-ice="name"><span><a href="class/src/core/PsyanimComponent.js~PsyanimComponent.html#instance-member-scene">scene</a></span></span><span class="code" data-ice="signature">: <span><a href="class/src/core/PsyanimScene.js~PsyanimScene.html">PsyanimScene</a></span></span>
        </p>
      </div>
      <div>
        
        
        <div data-ice="description"><p>The scene to which this component&apos;s entity belongs.</p>
</div>
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
<tr data-ice="target">
    <td>
      <span class="access" data-ice="access">private</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
          
          
          
          <span class="code" data-ice="name"><span><a href="class/src/core/PsyanimComponent.js~PsyanimComponent.html#instance-member-_afterCreateCalled">_afterCreateCalled</a></span></span><span class="code" data-ice="signature">: <span><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Boolean">boolean</a></span></span>
        </p>
      </div>
      <div>
        
        
        
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
<tr data-ice="target">
    <td>
      <span class="access" data-ice="access">private</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
          
          
          
          <span class="code" data-ice="name"><span><a href="class/src/core/PsyanimComponent.js~PsyanimComponent.html#instance-member-_enabled">_enabled</a></span></span><span class="code" data-ice="signature">: <span><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Boolean">boolean</a></span></span>
        </p>
      </div>
      <div>
        
        
        
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
<tr data-ice="target">
    <td>
      <span class="access" data-ice="access">private</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
          
          
          
          <span class="code" data-ice="name"><span><a href="class/src/core/PsyanimComponent.js~PsyanimComponent.html#instance-member-_id">_id</a></span></span><span class="code" data-ice="signature">: <span>*</span></span>
        </p>
      </div>
      <div>
        
        
        
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
<tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
          
          
          
          <span class="code" data-ice="name"><span><a href="class/src/core/PsyanimComponent.js~PsyanimComponent.html#instance-method-afterCreate">afterCreate</a></span></span><span class="code" data-ice="signature">()</span>
        </p>
      </div>
      <div>
        
        
        <div data-ice="description"><p>This method is called once after a scene is created for each component instance.</p>
</div>
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
<tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
          
          
          
          <span class="code" data-ice="name"><span><a href="class/src/core/PsyanimComponent.js~PsyanimComponent.html#instance-method-beforeShutdown">beforeShutdown</a></span></span><span class="code" data-ice="signature">()</span>
        </p>
      </div>
      <div>
        
        
        <div data-ice="description"><p>This method is called once after a scene load has been triggered, but before the current scene shuts down.</p>
</div>
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
<tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
          
          
          
          <span class="code" data-ice="name"><span><a href="class/src/core/PsyanimComponent.js~PsyanimComponent.html#instance-method-destroy">destroy</a></span></span><span class="code" data-ice="signature">()</span>
        </p>
      </div>
      <div>
        
        
        <div data-ice="description"><p>Called whenever the entity is destroyed.</p>
</div>
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
<tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
          
          
          
          <span class="code" data-ice="name"><span><a href="class/src/core/PsyanimComponent.js~PsyanimComponent.html#instance-method-onDisable">onDisable</a></span></span><span class="code" data-ice="signature">()</span>
        </p>
      </div>
      <div>
        
        
        <div data-ice="description"><p>This method is called once every time a component is disabled.</p>
</div>
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
<tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
          
          
          
          <span class="code" data-ice="name"><span><a href="class/src/core/PsyanimComponent.js~PsyanimComponent.html#instance-method-onEnable">onEnable</a></span></span><span class="code" data-ice="signature">()</span>
        </p>
      </div>
      <div>
        
        
        <div data-ice="description"><p>This method is called once every time a component is enabled.</p>
</div>
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
<tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
          
          
          
          <span class="code" data-ice="name"><span><a href="class/src/core/PsyanimComponent.js~PsyanimComponent.html#instance-method-onSensorEnter">onSensorEnter</a></span></span><span class="code" data-ice="signature">(entity: <span><a href="class/src/core/PsyanimEntity.js~PsyanimEntity.html">PsyanimEntity</a></span>)</span>
        </p>
      </div>
      <div>
        
        
        <div data-ice="description"><p>onSensorEnter is called any time another entity enters this entity&apos;s sensor. This method is intended to be overriden in child class.</p>
<p>All sensors attached to an entity are treated as a single composite sensor.</p>
</div>
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
<tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
          
          
          
          <span class="code" data-ice="name"><span><a href="class/src/core/PsyanimComponent.js~PsyanimComponent.html#instance-method-onSensorExit">onSensorExit</a></span></span><span class="code" data-ice="signature">(entity: <span><a href="class/src/core/PsyanimEntity.js~PsyanimEntity.html">PsyanimEntity</a></span>)</span>
        </p>
      </div>
      <div>
        
        
        <div data-ice="description"><p>onSensorExit is called any time another entity exits this entity&apos;s sensor. This method is intended to be overriden in child class.</p>
<p>All sensors attached to an entity are treated as a single composite sensor.</p>
</div>
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
<tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
          
          
          
          <span class="code" data-ice="name"><span><a href="class/src/core/PsyanimComponent.js~PsyanimComponent.html#instance-method-update">update</a></span></span><span class="code" data-ice="signature">(t: <span><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number">number</a></span>, dt: <span><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number">number</a></span>)</span>
        </p>
      </div>
      <div>
        
        
        <div data-ice="description"><p>This method is run once every simulation frame.</p>
</div>
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
</tbody>
</table>
</div>



<div data-ice="constructorDetails"><h2 data-ice="title">Public Constructors</h2>

<div class="detail" data-ice="detail">
  <h3 data-ice="anchor" id="instance-constructor-constructor">
    <span class="access" data-ice="access">public</span>
    
    
    
    
    
    <span class="code" data-ice="name">constructor</span><span class="code" data-ice="signature">()</span>
    <span class="right-info">
      
      
      <span data-ice="source"><span><a href="file/src/core/components/steering/agents/PsyanimAdvancedArriveAgent.js.html#lineNumber9">source</a></span></span>
    </span>
  </h3>

  
  
  
  <div data-ice="description"><p>The constructor of the PsyanimComponent must be provided the PsyanimEntity instance to which it is attached.</p>
</div>

  <div data-ice="override"><h4>Override:</h4><span><a href="class/src/core/PsyanimComponent.js~PsyanimComponent.html#instance-constructor-constructor">PsyanimComponent#constructor</a></span></div>

  <div data-ice="properties">
</div>

  

  

  

  

  

  

  

  
  
</div>
</div>
<div data-ice="memberDetails"><h2 data-ice="title">Public Members</h2>

<div class="detail" data-ice="detail">
  <h3 data-ice="anchor" id="instance-member-advancedArriveBehavior">
    <span class="access" data-ice="access">public</span>
    
    
    
    
    
    <span class="code" data-ice="name">advancedArriveBehavior</span><span class="code" data-ice="signature">: <span>*</span></span>
    <span class="right-info">
      
      
      <span data-ice="source"><span><a href="file/src/core/components/steering/agents/PsyanimAdvancedArriveAgent.js.html#lineNumber6">source</a></span></span>
    </span>
  </h3>

  
  
  
  

  

  <div data-ice="properties">
</div>

  

  

  

  

  

  

  

  
  
</div>
<div class="detail" data-ice="detail">
  <h3 data-ice="anchor" id="instance-member-target">
    <span class="access" data-ice="access">public</span>
    
    
    
    
    
    <span class="code" data-ice="name">target</span><span class="code" data-ice="signature">: <span>*</span></span>
    <span class="right-info">
      
      
      <span data-ice="source"><span><a href="file/src/core/components/steering/agents/PsyanimAdvancedArriveAgent.js.html#lineNumber5">source</a></span></span>
    </span>
  </h3>

  
  
  
  

  

  <div data-ice="properties">
</div>

  

  

  

  

  

  

  

  
  
</div>
<div class="detail" data-ice="detail">
  <h3 data-ice="anchor" id="instance-member-vehicle">
    <span class="access" data-ice="access">public</span>
    
    
    
    
    
    <span class="code" data-ice="name">vehicle</span><span class="code" data-ice="signature">: <span>*</span></span>
    <span class="right-info">
      
      
      <span data-ice="source"><span><a href="file/src/core/components/steering/agents/PsyanimAdvancedArriveAgent.js.html#lineNumber7">source</a></span></span>
    </span>
  </h3>

  
  
  
  

  

  <div data-ice="properties">
</div>

  

  

  

  

  

  

  

  
  
</div>
</div>
<div data-ice="methodDetails"><h2 data-ice="title">Public Methods</h2>

<div class="detail" data-ice="detail">
  <h3 data-ice="anchor" id="instance-method-update">
    <span class="access" data-ice="access">public</span>
    
    
    
    
    
    <span class="code" data-ice="name">update</span><span class="code" data-ice="signature">(t: <span>*</span>, dt: <span>*</span>)</span>
    <span class="right-info">
      
      
      <span data-ice="source"><span><a href="file/src/core/components/steering/agents/PsyanimAdvancedArriveAgent.js.html#lineNumber14">source</a></span></span>
    </span>
  </h3>

  
  
  
  <div data-ice="description"><p>This method is run once every simulation frame.</p>
</div>

  <div data-ice="override"><h4>Override:</h4><span><a href="class/src/core/PsyanimComponent.js~PsyanimComponent.html#instance-method-update">PsyanimComponent#update</a></span></div>

  <div data-ice="properties"><div data-ice="properties">
  <h4 data-ice="title">Params:</h4>
  <table class="params">
    <thead>
    <tr><td>Name</td><td>Type</td><td>Attribute</td><td>Description</td></tr>
    </thead>
    <tbody>
    
    <tr data-ice="property" data-depth="0">
      <td data-ice="name" class="code" data-depth="0">t</td>
      <td data-ice="type" class="code"><span>*</span></td>
      <td data-ice="appendix"></td>
      <td data-ice="description"></td>
    </tr>
<tr data-ice="property" data-depth="0">
      <td data-ice="name" class="code" data-depth="0">dt</td>
      <td data-ice="type" class="code"><span>*</span></td>
      <td data-ice="appendix"></td>
      <td data-ice="description"></td>
    </tr>
</tbody>
  </table>
</div>
</div>

  

  

  

  

  

  

  

  
  
</div>
</div>
</div>

<footer class="footer">
  Generated by <a href="https://esdoc.org">ESDoc<span data-ice="esdocVersion">(1.1.0)</span><img src="./image/esdoc-logo-mini-black.png"></a>
</footer>

<script src="script/search_index.js"></script>
<script src="script/search.js"></script>
<script src="script/pretty-print.js"></script>
<script src="script/inherited-summary.js"></script>
<script src="script/test-summary.js"></script>
<script src="script/inner-link.js"></script>
<script src="script/patch-for-local.js"></script>
</body>
</html>
